# Dependencies
node_modules
bun.lockb

# Builds and caches
dist
.build
.next
.cache
.vite
coverage
lighthouse-report.html

# Local env
.env
.env.*
!.env.example

# VCS
.git
.gitignore
.github/

# OS/Editor
.DS_Store
*.swp
*.log
